
.body {
	width: 100%;
    border: blue dotted 2px;
    margin-top: 5px;
}

.ba img {
	width: 300px;
	height: 200px;
	
}
.ba {
	  margin-left: 100px;
} 

.bb {
	
	  width: 455px;
	  margin-left: 435px;
	  margin-top: -215px;
	  height: 120px;
}
hr {
	color: #e5e5e5;
	margin-left: 100px;
	width: 810px;
}
h2 {
	margin-top:50px;
    display:flex;
    background:linear-gradient(to left,gray,lightgray,white,yellow,turquoise);
    width: 800px;
    margin-left: 100px;
   
}
h2:before, h2:after {
  color:white;
  content:'';
  flex:1;
  border-bottom:groove 2px;
  margin:auto 0.25em;
  
  box-shadow: 0 -1px ;/* ou 0 1px si border-style:ridge */
}
